@media screen and (min-width: 300px){
    .company-name{
        text-align: center;
        padding: 30px;
        color: #1875F0;
    }
    .search-btn{
        background-color: white;
        border: none;
    }
    .search-icon{
        width: 20px;
        margin-left: 150px;
    }
    .search{
        margin-top: -40px;
    }
    .search-bar{
        position: absolute;
        left: 190px;
        margin-top: 3px;
        border: none;  
    }
    a{
        text-decoration: none;
        color: gray;
        padding: 20px;
    }
    .support{
        position: absolute;
        top:120px;
        margin-left: -20px;
    }
    .faq{
        position: absolute;
        top:150px;
        margin-left: -10px;
    }
    .bell-icon{
        position: absolute;
        width:20px;
        top: 20px;
        margin-left: -125px;
    }
    .side-menu{
        margin-top:100px
    }
    .invoice-btn{
        background-color: #27AE60;
        border-radius: 30px;
        border: none;
        width: 163px;
        height: 33px;
        color: #FFFF;
        margin-left: 130px;
    }
    .main{
        margin-top: 15px;
        margin-left: 145px;
        display:flex;
    }
    .overview-icon{
        width:20px;
        margin-left: 150px;
    }
    .overview{
        margin-left: 5px;
    }
    .payments{
        margin-top: 20px;
        margin-left: 145px;
        display: flex;
    }
    .wallet-icon{
        width: 20px;
        margin-left: 150px;
    }
    .all-payments{
        margin-left: 5px;
    }
    .reconciled{
        display: flex;
        margin-left: 150px;
    }
    .payment-icon{
        width: 20px;
    }
    
    .rec-payments{
        margin-left: 5px;
    }
    .debt-icon{
        width: 20px;
        margin-left: 155px;
    }
    .debt{
        margin-left: 5px;
    }
    .settlement{
        display: flex;
    }
    .settlement-icon{
        width: 20px;
        margin-left:155px
    }
    .manual-settlement{
        margin-left: 5px;
    }
}




@media screen and (min-width: 480px){
    .search-icon{
        margin-left: 310px;
    }
    .search-bar{
        left: 340px;
    }
    .support{
        top:130px;
        margin-left: -20px;
    }
    .faq{
        top:165px;
        margin-left: -10px;
    }
    .bell-icon{
        margin-left: 125px;
    }
    .invoice-btn{
        margin-left: 280px;
    }
    .main{
        margin-left: 280px;
        display:flex;
    }
    .overview-icon{
        margin-left: 305px;
    }
    .payments{
        margin-top: 10px;
        margin-left: 280px;
        display: flex;
    }
    .wallet-icon{
        width: 20px;
        margin-left: 300px;
    }
    .all-payments{
        margin-left: 10px;
    }
    .payment-icon{
        width: 20px;
        margin-left: 150px;
    }
    .rec-payments{
        margin-left: 10px;
    }
    .debt-icon{
        margin-left: 305px;
    }
    .settlement-icon{
        width: 20px;
        margin-left:305px
    }
   
   
}



@media screen and (min-width: 800px){
    .company-name{
        text-align: left;
        padding: 20px;
        margin-left: 50px;
    }
    .search{
        margin-top: -70px;
    }
    .search-btn{
        width: 10px;
    }
    .search-icon{
        margin-left: 400px;
    }
    .search-bar{
        margin-left: 110px;
    }
    .support{
        position: relative;
        margin-left: 750px;
        top: -5px;
        
    }
    .faq{
        position: relative;
        top: -5px;
        margin-left: 35px;
        text-decoration: none;
        color: gray;
    }
    .bell-icon{
        position: relative;
        top: 0px;
        margin-left: 60px;
    }
    .side-menu{
        margin-top:70px
    }
    .invoice-btn{
        margin-left: 75px;
    }
    .main{
        margin-top: 30px;
        margin-left: 50px;
        display:flex;
    }
    .overview-icon{
        margin-left: 55px;
    }
    .overview{
        margin-left: 5px;
    }
    .payments{
        margin-top: 40px;
        margin-left: 50px;
        display: flex;
    }
    .wallet-icon{
        width: 20px;
        margin-left: 65px;
    }
    .payment-icon{
        width: 20px;
        margin-left: -85px;
    }
    .rec-payments{
        margin-left: 4px;
    }
    .debt-icon{
        margin-left: 67px;
    }
    .settlement-icon{
        margin-left: 67px
    }
   

}




